@import "../../styles/flex.scss";

.view-button {
  @include flex();
  @include justify-content(center);
  @include align-items(center);
  text-align: center;
  padding: 15px;
  cursor: pointer;
  height: 50%;
  max-height: 160px;
  width: 100px;
  background-color: pink;
  &:last-of-type {
    margin-top: 15px;
  }
  &:hover {
    background-color: plum;
  }
  transition: max-width 0.3s ease, max-height 0.3s ease;
  @media (max-width: 1400px) {
    max-height: 50px;
    transition: max-width 0.3s ease, max-height 0.3s ease;
  }
}

.view-button-container {
  @include flex();
  @include flex-direction(column);
  // @include flex-wrap(wrap);
  // max-height: 350px;
  @include justify-content(space-around);
  margin-left: 15px;
}
