@import "../../styles/colors.scss";
@import "../../styles/flex.scss";

.work-tile {
  border: 1px solid gold;
  @include flex();
  img {
    margin: 10px;
    width: 150px;
  }
  margin: 15px;
  max-width: 950px;
}
