@import "../../../styles/flex";

.intro-section {
  @include flex();
  @include align-items(center);
  img {
    width: 100px;
    height: 100px;
    margin: 15px;
  }
  &:nth-of-type(2) {
    @include flex-direction(row-reverse);
  }
}
